<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>This key does not exist in our database. You must introduce its values.</p>
<form action="" method="POST">
  {% csrf_token %}
  <p>title: <input type="text" name="title"></p>
  <p>link: <input type="text" name="link"></p>
  <p>description: <input type="text" name="description"></p>
  <p>positive: <input type="number" value="0" min="0" name="positive"></p>
  <p>negative: <input type="number" value="0" min="0" name="negative"></p>
  <p>date: <input type="date" id="start" name="date" value="2018-07-22" min="2018-01-01"></p>
  <p>num_comment: <input type="number" value="0" min="0" name="num_comment"></p>
  <p>extended_info: <input type="text" name="extended_info"></p>
  <p>
    <input type="submit" value="Send">
  </p>
</form>
</body>
</html>