<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All content</title>
</head>
<body>

<div id="login">
<table align=right>
    <tr>
        <td>
            {% if not request.user.is_authenticated %}
                <a href="/login">Login</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td >
            {% if request.user.is_authenticated %}
                <a href="logout">{{ request.user.username }} : {{ request.user.id }} -- Logout</a>
            {% endif %}
        </td>
    </tr>
</table>
</div>

<div id="image">
    {% load static %}
    <img src="{% static "LoVisto/LoVistoLogo.png" %}" alt="Logo de LoVisto"
    width="300" height="241">
</div>


<div id="menu">
        <h3>Menu:</h3>
    <p>
        <table>
            <tr>
                <td>
                    <a href="/LoVisto/">Inicio</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/LoVisto/information">Información</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Descarga como fichero XML</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Descarga como fichero JSON</a>
                </td>
            </tr>
        </table>
    </p>
</div>

    {% if content_list %}
        <h2>ALL CONTENT LIST:</h2>
      {% for content in content_list %}
        <ul>
            <li>
                <p class="resumida"><a href="/LoVisto/{{ content.id }}">{{ content.title }}</a></p>
            </li>
        </ul>
      {% endfor %}
    {% endif %}
<footer>
    <p>Esta aplicación enlaza a <a href="{{ one.id }}">{{ one.title }}</a>, <a href="{{ two.id }}">
        {{ two.title }}</a>, <a href="{{ three.id }}">{{ three.title }}</a> y muchos otros sitios</p>
</footer>
</body>
</html>