<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ content.title }}</title>
</head>
<body>
    {% load static %}
    <img src="{%/static/urjc-logo.png%}" alt="Logo de LoVisto">


    {% if content_list %}
        {% for content in content_list%}
            <div class="aportacion">
                <h2>{{ content.title }}</h2>
                <p class="description">{{ content.description }}</p>
                <p class="data">Contribution from {{ content.user.user_name }}, send in {{ content.date }},
                {{ content.num_comment }} comments,
                    <a href="{{ content.id }}">more info</a></p>

                <p class="vote">Positives: {{ content.positive }}. Negatives: {{ content.negative }}</p>
                {{ content.extended_info }}
                {% if request.user.is_authenticated %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>
                            <input type="hidden" name="votation" value="1">
                            <input type="hidden" name="content_id" value="{{ content.id }}">
                            <input type="submit" name="vote" value="like">
                            <input type="submit" name="vote" value="dislike"></p>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No content now</p>
    {% endif %}
    {% if request.user.is_authenticated %}
        <h3>Add new content here:</h3>
        <form action="" method="POST">
          {% csrf_token %}
            <input type="hidden" name="votation" value="0">
            <p>Title: <input type="text" name="title"></p>
            <p>Description: <input type="text" name="description"></p>
            <p>Link: <input type="text" name="link"></p>
            <p>
            <input type="submit" value="Send">
          </p>
        </form>

        <a href="/LoVisto/user">User page</a></p>

        <h2>SHORT LIST</h2>
        {% for content in content_user_list %}
            <p class="resumida">
                <a href="{{ content.link }}">{{ content.title }}</a></p>
        {% endfor %}
    {% endif %}
    <h3>Menu:</h3>
    <p>
        <ul>
            <li><a href="/LoVisto/information">Información</a> </li>
            <li><a href="/LoVisto/allcontent">Todo</a> </li>
            <li><a href="">Descarga como fichero XML</a> </li>
            <li><a href="">Descarga como fichero JSON</a> </li>
            {% if request.user.is_authenticated %}
                <li><a href="/LoVisto/logout">Logout</a> </li>
            {% else %}
                <li><a href="/login">Login</a> </li>
            {% endif %}
        </ul>
    </p>

</body>
</html>