<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoVisto information</title>
</head>
<body>
<p><b>Author</b>: Juan Antonio Ortega Aparicio</p>
<br><p>Esta aplicación trata de una red social en la que podemos subir contenidos
  a modo de enlaces.
</p>
    <h3>Menu:</h3>
    <p>
        <ul>
            <li><a href="/LoVisto/">Inicio</a> </li>
            <li><a href="/LoVisto/allcontent">Todo</a> </li>
            <li><a href="">Descarga como fichero XML</a> </li>
            <li><a href="">Descarga como fichero JSON</a> </li>
            {% if request.user.is_authenticated %}
                <li><a href="/LoVisto/logout">Logout</a> </li>
            {% else %}
                <li><a href="/login">Login</a> </li>
            {% endif %}
        </ul>
    </p>
</body>
</html>