<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Logged in as "{{request.user.username}}"</h2>
    <h3>Menu:</h3>
    <p>
        <ul>
            <li><a href="/LoVisto/">Inicio</a> </li>
            <li><a href="/LoVisto/information">Información</a> </li>
            <li><a href="/LoVisto/allcontent">Todo</a> </li>
            <li><a href="">Descarga como fichero XML</a> </li>
            <li><a href="">Descarga como fichero JSON</a> </li>
            {% if request.user.is_authenticated %}
                <li><a href="/LoVisto/logout">Logout</a> </li>
            {% else %}
                <li><a href="/login">Login</a> </li>
            {% endif %}
        </ul>
    </p>
</body>
</html>