<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="login">
<table align=right>
    <tr>
        <td>
            {% if not request.user.is_authenticated %}
                <a href="/login">Login</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td >
            {% if request.user.is_authenticated %}
                <a href="logout">{{ request.user.username }} : {{ request.user.id }} -- Logout</a>
            {% endif %}
        </td>
    </tr>
</table>
</div>

<div id="image">
    {% load static %}
    <img src="{% static "LoVisto/LoVistoLogo.png" %}" alt="Logo de LoVisto"
    width="300" height="241">
</div>



<div id="menu">
        <h3>Menu:</h3>
    <p>
        <table>
            <tr>
                <td>
                    <a href="/LoVisto/">Inicio</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/LoVisto/information">Información</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/LoVisto/allcontent">Todo</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Descarga como fichero XML</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Descarga como fichero JSON</a>
                </td>
            </tr>
        </table>
    </p>
</div>

<p>This key does not exist in our database. You must introduce its values.</p>
<form action="" method="POST">
  {% csrf_token %}
  <p>title: <input type="text" name="title"></p>
  <p>link: <input type="text" name="link"></p>
  <p>description: <input type="text" name="description"></p>
  <p>positive: <input type="number" value="0" min="0" name="positive"></p>
  <p>negative: <input type="number" value="0" min="0" name="negative"></p>
  <p>date: <input type="date" id="start" name="date" value="2018-07-22" min="2018-01-01"></p>
  <p>num_comment: <input type="number" value="0" min="0" name="num_comment"></p>
  <p>extended_info: <input type="text" name="extended_info"></p>
  <p>
    <input type="submit" value="Send">
  </p>
</form>
</body>
</html>