<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
  <div class="aportacion">
      <h2>Content list:</h2>
        {% for content in content_list %}
      <ul>
          <li>
              <a href="{{ content.id }}">{{ content.title }}</a></p>
          </li>
      </ul>

        {% endfor %}
      <h2>Comment list:</h2>
        {% for content in comment_list %}

      <ul>
          <li>
          <p class="resumida">
                {{ content.body }} :
                <a href="{{ content.id }}">{{ content.content.title }}</a></p>
          </li>
      </ul>

        {% endfor %}
      <h2>Vote list:</h2>
        {% for i in vote_list %}
        <ul>
            <li>
                <p class="resumida">
                    {% if i.vote == 1 %}
                        ✔ :
                    {% else %}
                        ✗ :
                    {% endif %}
                    <a href="{{ i.content.id }}">{{ i.content.title }}</a></p>
            </li>
        </ul>

        {% endfor %}
  </div>
    <h3>Menu:</h3>
    <p>
        <ul>
            <li><a href="/LoVisto/">Inicio</a> </li>
            <li><a href="/LoVisto/information">Información</a> </li>
            <li><a href="/LoVisto/allcontent">Todo</a> </li>
            <li><a href="">Descarga como fichero XML</a> </li>
            <li><a href="">Descarga como fichero JSON</a> </li>
            {% if request.user.is_authenticated %}
                <li><a href="/LoVisto/logout">Logout</a> </li>
            {% else %}
                <li><a href="/login">Login</a> </li>
            {% endif %}
        </ul>
    </p>
</body>
</html>