<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<div id="image">
    {% load static %}
    <img src="{% static "LoVisto/LoVistoLogo.png" %}" alt="Logo de LoVisto"
    width="300" height="241">
</div>

<div id="menu">
        <h3>Menu:</h3>
    <p>
        <ul>
            <li><a href="/LoVisto/">Inicio</a> </li>
            <li><a href="/LoVisto/information">Información</a> </li>
            <li><a href="/LoVisto/allcontent">Todo</a> </li>
            <li><a href="">Descarga como fichero XML</a> </li>
            <li><a href="">Descarga como fichero JSON</a> </li>
            {% if request.user.is_authenticated %}
                <li><a href="/LoVisto/logout">Logout</a> </li>
            {% endif %}
        </ul>
    </p>
</div>


<form method="POST" action="">
  {% csrf_token %}
  <table>

    <tr>
      <td>Username:</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>Password:</td>
      <td>{{ form.password }}</td>
    </tr>

    <tr>
       <td rowspan="2"><input type="submit" value="login!"/></td>
    </tr>

  </table>
</form>

</body>
</html>